.card-message:hover {
  background-color: blanchedalmond;
  cursor: pointer;
}
.messages-container {
  display: flex;
  justify-content: space-between;
}
.to {
  background-color: aliceblue;
  margin-left: 50%;
  width: auto;
}

.from {
  background-color: lightgreen;
  border-radius: 3px;
  width: 50%;
}